<p>We have reserved your selected lottery ticket number <strong>{{ticketNumber }}</strong> for lottery number <strong>{{lotteryNumber}}</strong> for 30 mins.</p>
<br>
<p>Please make the payment bitcoin payment to the following bitcoin wallet in 30 mins; otherwise your ticket will expire</p>
<br>
<h4>{{ bitcoinWallet }}</h4>
<br>
<p>Once you made the payment, go to this <a href="{{url('pay' , { 'id': tempTicketId}) }}"><strong>link</strong></a> to complete your lottery ticket purchase.</p>