<p>Please make the payment to to the following bitcoin wallet</p>
<br>
<h4>{{ bitcoinWallet }}</h4>
<br>
<p>Once you made the payment, go to this <a href="{{url('pay' , { 'id': tempTicketId}) }}"><strong>link</strong></a> to complete your lottery ticket purchase.</p>