{% extends 'base.html.twig' %}

{% block title %} Be a Winner{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}



    <!-- inner-page-banner start -->
    <section class="inner-page-banner has_bg_image" data-background="{{ asset('assets/images/theme/inner-page-bg.jpg') }}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-page-banner-area">
              <h1 class="page-title">Latest Lottery Results</h1>
              <nav aria-label="breadcrumb" class="page-header-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="home-one.html">Home</a></li>
                  <li class="breadcrumb-item">result</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- inner-page-banner end -->

    <!-- lottery-result-section start -->
    <section class="lottery-result-section section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-header text-center">
              <h2 class="section-title">Latest Lottery results</h2>
              <p>Check the current lotto results and to see if you have won! All of the results presented on our website are the official results of the last draw of a particular lottery. We advise you to check lotto numbers from your ticket and compare them with the numbers drawn in a particular lottery draw.</p>
            </div>
          </div>
        </div>
        <div class="row mt-mb-15">
          {% for lottery in lotteries %}

          <div class="col-lg-6">
            <div class="latest-result-item">
              <div class="latest-result-item-header d-flex align-items-center justify-content-between">
                <div class="icon"><img src="{{ asset('assets/images/theme/elements/jackpot-1.png') }}" alt="image"></div>
                <div class="btn-area">
                  <a href="#0" class="cmn-btn">play now !</a>
                </div>
              </div>
              <div class="latest-result-item-body d-flex align-items-center justify-content-between">
                <div class="winner-num">
                  <span class="winner-num-title">winner numbers</span>
                  <ul class="number-list">
                    <li>19</li>
                    <li>31</li>
                    <li>21</li>
                    <li>19</li>
                    <li class="active">69</li>
                  </ul>
                </div>
                <div class="next-jack-amount">
                  <span>Next estimated jackpot</span>
                  <span class="amount">US  541,000,000</span>
                </div>
              </div>
              <div class="latest-result-item-footer">
                <div class="text-center"><i class="fa fa-hourglass-half"></i>3 days left</div>
              </div>
            </div>
          </div><!-- latest-result-item end -->
          
          {% endfor %}
          
          <div class="col-lg-12 text-center">
            <button type="button" class="cmn-btn">load more</button>
          </div>
        </div>
      </div>
    </section>
    <!-- lottery-result-section end -->
    
    {% include 'footer.html.twig' %}

{% endblock %}
