{% extends 'base.html.twig' %}

{% block title %} Profile{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}

    <div class="container mb-5">

        <h3>Access denied!</h3>
        <hr>
        <h4>You'll be redirected to dashboard in 5 seconds.</h4>
    </div>

    {% include 'footer.html.twig' %}    
{% endblock %}
