<div class="main-dark-version">
    <!--  header-section start  -->
    <header class="header-section">
      <div class="header-top">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-6 col-md-6">
                      <div class="header-top-left d-flex">
                          <div class="language-part">
                              <i class="fa fa-globe"></i>
                              <select>
                                  <option>Eng</option>
                                  <option>Ban</option>
                                  <option>Rus</option>
                                  <option>Arb</option>
                              </select>
                          </div>
                          <div class="support-part">
                              <a href="tel:+88016558888454"><i class="fa fa-headphones"></i>Support</a>
                          </div>
                          <div class="email-part">
                              <a href="mailto:info@sorteo.com"><i class="fa fa-envelope"></i>info@sorteo.com</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <div class="header-top-right">
                          <div class="header-cart-count">
                              <i class="fa fa-shopping-cart"></i>
                              {# <span>My cart (0)</span> #}
                              <span>
                                {% if user.email is defined %}
                                  {{ user.email }}
                                {% else %}  
                                  <a href="/login">Login</a>
                                {% endif %}
                                </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <nav class="navbar navbar-expand-xl">
            <a class="site-logo site-title" href="/">
              <p>Premium Millionaire</p>
              {# <img src="{{ asset('assets/images/theme/logo.png') }}" alt="site-logo">             #}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav main-menu ml-auto">
                <li class="menu_has_children"><a href="#0">Home</a>
                  <ul class="sub-menu">
                    <li><a href="home-one.html">Home One</a></li>
                    <li class="active"><a href="home-two.html">Home Two</a></li>
                  </ul>
                </li>
                <li><a href="lottery-result.html">results</a>
                <li class="menu_has_children"><a href="#0">lotteries</a>
                  <ul class="sub-menu">
                    <li><a href="all-lottery-one.html">all lotteries One</a></li>
                    <li><a href="all-lottery-two.html">all lotteries Two</a></li>
                    <li><a href="all-lottery-three.html">all lotteries three</a></li>
                  </ul>
                </li>
                <li class="menu_has_children"><a href="#0">blog</a>
                  <ul class="sub-menu">
                    <li><a href="blog-one.html">Blog one</a></li>
                    <li><a href="blog-two.html">Blog two</a></li>
                    <li><a href="blog-three.html">Blog three</a></li>
                    <li><a href="blog-four.html">Blog four</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                  </ul>
                </li>
                <li class="menu_has_children"><a href="#0">pages</a>
                  <ul class="sub-menu">
                    <li><a href="about.html">about us</a></li>
                    <li><a href="affiliate.html">affiliate</a></li>
                    <li><a href="how-to-play.html">how to play</a></li>
                    <li><a href="latest-winner.html">latest winner</a></li>
                    <li><a href="faq.html">faq</a></li>
                    <li><a href="error-404.html">ERROR-404</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">contact us</a></li>
              </ul>
              <div class="header-join-part">
                <a class="cmn-btn" href="/signup">join us</a>
                {# <button type="button" class="cmn-btn" data-toggle="modal" data-target="#exampleModal">join us</button> #}
              </div>
            </div>
          </nav>
        </div>
      </div><!-- header-bottom end -->
    </header>
    <!--  header-section end  -->