{% extends 'base.html.twig' %}

{% block title %}Hello LotteryController!{% endblock %}

{% block body %}

    {% include 'admin-menu.html.twig' %}

    <div class="container mb-5">

        <h3>Lottery Detail</h3>
        <hr>
        {{ form(form) }} 
    </div>

    {% include 'footer.html.twig' %}    
{% endblock %}
