{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}
        <h5>Test Page</h5>    
    {% include 'footer.html.twig' %}

{% endblock %}
