{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {# <div class="flash-{{ label }}">
                    {{ message }}
                </div> #}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}   
            
        <h5>Test Page</h5>    
    {% include 'footer.html.twig' %}

{% endblock %}
