{% extends 'base.html.twig' %}

{% block title %}New User!{% endblock %}

{% block body %}
    {% if user.email is defined %}
        {% include 'menu.html.twig' with {'user.email': user.email } %}                        
    {% else %}  
        {% include 'menu.html.twig' %}                        
    {% endif %}

    <div class="container my-5">
        <h5>Invalid user confirmation link!</h5>
    </div>    
    {% include 'footer.html.twig' %}

{% endblock %}
